#player {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    height: 500px;
    width: 500px;
    position: relative;
    background-color: cornflowerblue;
    margin: 0;
}